body {}

.first-section {
    display: flex;
    margin: 50px 100px;
}

.half-1 {
    width: 50%;
    padding-left: 20px;
}

.stay-focused {
    font-size: 30px;
    border-left: 5px solid red;
    padding-left: 10px;
}

.mission {
    color: #eaae3f;
}

.explore {
    background-color: #e4617b;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: medium;
}

.person-0 {
    width: 300px;
    padding-left: 5%;
}

.m2022 {
    color: #eaae3f;

}

.second-section {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.third-section {
    display: flex;
    margin: 50px 100px;
}

.chobi {
    width: 200px;
    height: 200px;
}

.illus-1 {
    background-color: rgba(153, 162, 172, 0.145);
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
}

.illus-2 {
    background-color: #caa4ac5e;
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
}

.illus-3 {
    background-color: rgba(202, 176, 136, 0.318);
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
}

.fourth-section {

    display: flex;
    background-repeat: no-repeat;
    background-image: url(mission-2022-Main/images/shapes/shape-1.png);
    background-size: 200px;
    background-position: left;
    padding-left: 90px;
}

.coding {
    width: 50%;

}

.develop {
    padding-left: 50px;
    width: 50%;
}

.documentation {
    text-decoration: none;
    background-color: #e62712;
    color: white;

    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border-radius: 2px;
}

.fifth-section {
    padding-top: 90px;
    display: flex;
    background-repeat: no-repeat;
    background-image: url(mission-2022-Main/images/shapes/shape-1.png);
    background-size: 200px;
    background-position: right;
}

.project {
    width: 50%;
    padding-left: 300px;
}

.build {
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.corona {
    color: #eaae3f;
}

.sixth-section {

    display: flex;
    font-size: 30px;
    font-weight: 700;
    background-image: url(mission-2022-Main/images/shapes/shape-2.png);
    background-size: 50px;
    background-repeat: no-repeat;
}

.app {
    color: wheat;
    text-decoration: none;
    background-color: #e62712;
    border-radius: 5px;
    padding: 5px 10px;
}

.missi {
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: rgb(6, 6, 67);
}

.two {
    color: aqua;
}